* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

body {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    overflow: hidden;
    background: linear-gradient(#CB356B, #BD3F32);
}

.app {
    background: #fff;
    padding: 20px;
    width: 600px;
    margin: 0 auto;
    box-shadow: 0 1px 30px 0 rgba(0,0,0,0.14), 0 0px 0px 0 rgba(0,0,0,.12), 0 0px 0px 0px rgba(0,0,0,.3);
    border-radius: 10px;
}

.app_header {
    padding: 20px;
    text-align: center;
    /* justify-content: center; */
}

.app_content {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    /* background-color: rgb(167, 173, 184);
    width: 250px;
    height: 250px; */
}



.app_footer {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}
.input Label{
    display: inline-block;
    min-width: 100%;
    margin-bottom: 3px;
    color: #acacac;
    font-size: .8rem;
    font-weight: normal;
    line-height: 1.2rem;
}
.input input{
    display: block;
    width: 100%;
    min-height: 2.8rem;
    padding: .8rem 1 rem;
    font-size: inherit;
    font-family: inherit;
    font-weight: inherit;
    line-height: 1.4;
    color: #000;
    background: #fff none;
    border: 1px solid #999;
    border-radius: 5px;
}
.game {
 position: relative;
 display: flex;
 align-items: center;
 justify-content: center;
 border: 1px solid #ccc;
 background: #ccc;
 min-width: 300px;
 min-height: 300px;
 max-width: 300px;
 max-height: 300px;
}
.hide {
    display: none !important;
}
.btn {
  position: absolute;
  z-index: 1;
  display: inline-block;
  padding: 1rem 2.3rem;
  margin-bottom: 0;
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.3rem;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  user-select: none;
  background: #fad64e;
  color: #3f3f3f;
  border: none;
  border-radius: 2.8rem;
}